* {
  box-sizing: border-box;
}

/* removes body tag space gaps, sets background image*/
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.452)),
    url(/images/background.jpg);
  background-size: cover;
  margin: 0;
}

/*Font settings for entire page */
html {
  background-color: #fff;
  color: #555;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

header {
  height: 100vh;
}

/*Header text position*/
#header-div {
  position: absolute;
  width: 1140px;
  top: 30%;
  left: 10%;
}
/*Header text settings*/
h1 {
  margin: 0;
  color: white;
  font-size: 300%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/* Navigation bar */
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(2, 161, 10, 0.479);
  color: black;
  border-radius: 100px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
}

/* Sign up form */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: rgba(37, 236, 11, 0.788);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 60px;
}
.navbuttons {
  width: 95px;
  height: 95px;
}

/* Set style for sign in and sign up buttons*/
#sign-up,
#sign-in {
  background-color: blue;
  width: 95px;
  height: 95px;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancel {
  padding: 14px 20px;
  background-color: #fd1c0b;
}

/* Float cancel and signup buttons and add an equal width */
.cancel,
.submit {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clear-submit::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancel,
  .submit {
    width: 100%;
  }
}

/* Settings for all forms on page*/
form {
  display: none;
  background-color: rgba(170, 146, 9, 0.466);
  color: rgba(203, 247, 4, 0.89);
  border-radius: 20px;
  box-shadow: 0 0 9px rgb(250, 5, 5);
  width: 400px;
  height: 735px;
  margin: auto;
}

#signin_form {
  height: 360px;
  padding: 15px;
  display: none;
  margin: auto;
  border: currentColor;
}

.form-headers {
  font-weight: 200;
  font-size: 30px;
}

/*Javascript array (add meal) list settings*/
#meal-list {
  display: flex;
  flex-wrap: wrap;
}

li {
  align-items: stretch;
  justify-content: space-evenly;
}

/*first paragraph on the page settings */
#intro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 30px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(63, 4, 4, 0.712);
  text-align: center;
  text-indent: 10px;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(
    -225deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background: -moz-linear-gradient(
    315deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background: linear-gradient(
    315deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 7px 7px 11px 4px rgba(0, 0, 0, 0.45) inset,
    8px -3px 11px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 7px 11px 4px rgba(0, 0, 0, 0.45) inset,
    8px -3px 11px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 8px -1px 7px rgba(196, 19, 19, 0.57);
  -webkit-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

/*Meal picture array settings*/
#meal-list img {
  display: flex;
  height: 300px;
  width: 300px;
  flex-wrap: wrap;
  border-radius: 60px;
  background-size: cover;
}

#meal-li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Meal object when clicking on added picture settings*/
#meal-object {
  display: inline-block, none;
  background-color: rgba(170, 146, 9, 0.466);
  color: rgba(203, 247, 4, 0.89);
  border-radius: 20px;
  box-shadow: 0 0 9px rgb(250, 5, 5);
  width: 40%;
  height: auto;
  margin: auto;
  text-align: center;
  overflow-wrap: break-word;
}

/*footer and contact us settings*/
#contacts {
  display: flex;
  color: wheat;
  justify-content: center;
}
em {
  color: #aee62e;
}

/*"What is food" article settings*/

#food_title {
  color: #aee62e;
}
#what_is_food {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 30px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(63, 4, 4, 0.712);
  text-align: center;
  text-indent: 10px;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(
    -225deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background: -moz-linear-gradient(
    315deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background: linear-gradient(
    315deg,
    rgba(227, 242, 14, 0.81) 0,
    rgba(124, 188, 10, 1) 100%
  );
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 7px 7px 11px 4px rgba(0, 0, 0, 0.45) inset,
    8px -3px 11px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 7px 11px 4px rgba(0, 0, 0, 0.45) inset,
    8px -3px 11px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 8px -1px 7px rgba(196, 19, 19, 0.57);
  -webkit-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: font-size 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
/*"welcome header on top of page*/
#welcome_user {
  color: rgb(238, 255, 0);
}
